:root {
  --color-title: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------------HEADER-------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-span {
  color: #2196f3;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.list {
  list-style: none;
}

.header-item .header-link.current {
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  bottom: 0px;
}

.header-item {
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 34px 0;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.link {
  text-decoration: none;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.contacts-item {
  display: flex;
}

.contacts-mail {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mail:hover,
.contacts-mail:focus {
  color: #2196f3;
}

.contact-icon {
  fill: rgba(117, 117, 117, 1);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mail:hover .contact-icon,
.contacts-mail:focus .contact-icon {
  fill: #2196f3;
}

.contacts-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-tel:hover,
.contacts-tel:focus {
  color: #2196f3;
}

.contacts-tel:hover .contact-icon,
.contacts-tel:focus .contact-icon {
  fill: #2196f3;
}



/* ------------HERO------------------- */

.hero {
  background-color: #2f303a;
  height: 600px;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 44px;
  max-width: 696px;
  margin: 0 auto;
}

.hero-btn {
  cursor: pointer;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  display: block;
  margin: 30px auto;
}

/* ------SECTION 1---------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:last-child {
  padding-bottom: 94px;
}

.sections-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.features {
}

.features-list {
  align-items: flex-start;
}

.features-item {
}

.features-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -------SECTION 2--------- */

.works {
  padding-top: 0px;
}

.works-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.works-list {
  margin-top: 50px;
}

.works-item {
  position: relative;
}

.work-text {
  position: absolute;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #FFFFFF;
  bottom: 4px;
  border: none;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ----------SECTION 3----------- */

.team {
  background-color: #f5f4fa;
}

.text {
  padding: 20px 24px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.team-list {
  margin-top: 50px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams-name {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-soc-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.team-soc-item {
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.team-soc-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: rgba(255, 255, 255, 1);
}

/* -----------SECTION-4----------- */

.customers {
}

.customers-flex {
}

.customers-title {
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.customers-list {
  align-items: flex-start;
}

.customers-item {
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: rgba(33, 150, 243, 1);
}

.customers-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: rgba(33, 150, 243, 1);
}




/* ---------FOOTER---------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  margin-top: 20px;
}

.address-list {
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.footer-geo {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.address {
  margin-right: 70px;
}

.footer-client {
  width: 206px;
  height: 80px;
}

.client-title {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.client-soc-list {
  display: flex;
  gap: 10px;
}

.client-soc-item {
}

.client-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(249, 249, 249, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-soc-icon {
  fill: #ffffff;
}

.client-soc-link:hover,
.client-soc-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.footer-forms {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.footer-form {}

.footer-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}

.form-user {
  display: flex;
  gap: 12px;
}

.footer-input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  color: #FFFFFF;
  border-color:  #2196F3;
}

.form-buttom {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 28px;
}

.input-text {
  width: 110px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.client-soc-icon {}

/* -------Модальне вікно------------ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-titlle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
}

.modal-form {}

.modal-lable {
  display: block;
  gap: 10px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.lable-form {
  margin-bottom: 10px;
}

.lable-form:last-child {
  margin-bottom: 0;
}

.modal-label-text {}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;  
  color: #757575;
  margin-bottom: 4px;
}

.input-icon-form {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #2196F3;
}

.modal-input:focus + .modal-input-icon {
  fill: #2196F3;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-tel {}

.modal-label-mail {}

.modal-lable-coment {
  display: block;
}

.coment-arena {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-arena::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment-arena:focus {
  border-color: #2196F3;
}

.policy-content {
  margin-bottom: 30px;
}

.modal-policy {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  bottom: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.policy-icon {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;  
  color: #757575;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.policy-icon span{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy:checked + .policy-icon span {
  background-color: #2196F3;
  border-color: transparent;
  fill: #FFFFFF;
}

.modal-policy:focus + .policy-icon span {
border-color: #2196F3;
}

.policy-link {
  color: #2196F3;
  text-decoration-line: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  justify-content: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;  
  color: #FFFFFF;
  margin: 0 auto 50px;
}



/* --------------------------PORTFOLIO--------------------------------- */

.project-main {
  margin-top: 94px;
  margin-bottom: 94px;
}

.project {
  margin-top: 50px;
}

.project-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-item:hover,
.main-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.main-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 0px;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-size: 16px;
  padding: 5.91px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-list {
}

.project-link {
  width: calc((100% - 60px) / 3);
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .picture-top-text {
  transform: translateY(0);
}

.project-picture {
  display: block;
}

.project-title {
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  font-size: 18px;
}

.project-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-size: 16px;
}

.link-smgtext {
  position: relative;
  overflow: hidden;
}

.picture-top-text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);