.customers {
}

.customers-flex {
}

.customers__title {
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.customers__list {
  align-items: flex-start;
}

.customers__item {
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: rgba(33, 150, 243, 1);
  }
}

.customers__icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers__link:hover &,
  .customers__link:focus & {
    fill: rgba(33, 150, 243, 1);
  }
}
